*{
margin: 0%;
padding: 0%;
font-family: 'popins',sans-serif;
}
html,body{
    display: grid;
    height: 100%;
    place-items: center;
    background-color: aqua;
}
.wrapper{
    width: 380px;
    background-color: #fff;
    border-radius: 5px;

}
.wrapper.titel{
    line-height: 80px;
    background-color: black;
    padding-left: 20px;
    border-radius: 5px 5px 0 0;
    font-size: 25px;
    font-weight: 600;
    color: #fff;
}
.wrapper form{
    padding: 30px 20px 25px 20px;
}
.wrapper form .row{
height: 45px;
background: #ff0000;
margin-bottom :15px;
position: relative;

}
.wrapper form .row input {
    height: 100%;
    width: 100%;
    padding-left: 20px;
    

}
.wrapper form .row i{
    position: absolute;
    height: 47%;
    width: 100px;
    color: #fff;
    font-size: 18px;

    
    
    display: flex;
    align-items: center;
    justify-content: center;


}